@charset "utf-8";

body {
	padding: 0;
	margin: 0;
}

img {position: absolute;}

.color1{
  left: 337px;
  top: 99px;
}

.color2 {
  left: 343px;
  top: 261px;
}

.color3 {
  left: 344px;
  top: 427px;
}

.color4 {
  left: 349px;
  top: 597px;
}

.color5 {
  left: 352px;
  top: 771px;
}

.leftarrow{
	
}

.rightarrow{
	left: 100px;
}